<ion-view view-title="Teacher Schedule">
    <ion-content class="padding">

        <div class="list card">
            <div class="item item-body">                
                <div>
                    Week
                    <select ng-model="data.ScheduleWeek" ng-change="updateSchedule()">
                        <option selected>1</option><option>2</option><option>3</option>
                        <option>4</option><option>5</option><option>6</option>
                        <option>7</option><option>8</option><option>9</option>
                        <option>10</option><option>11</option><option>12</option>
                        <option>13</option><option>14</option><option>15</option>
                        <option>16</option><option>17</option><option>18</option>                               
                    </select>
                </div>
                <div>
                    Teacher
                    <select ng-model="data.SelectedTeacher"
                            ng-options="teacher.FIO for teacher in TeacherList"
                            ng-change="updateSchedule()"></select>
                </div>                
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">
                {{data.SelectedTeacher.FIO}} - {{data.ScheduleWeek}}
            </div>
            <div class="item item-body">
                <ion-list>
                    <ion-item ng-repeat="lesson in Schedule" class="item-text-wrap">
                        {{lesson.Date}}<br />
                        {{lesson.Time}}<br />
                        {{lesson.disciplineName}}<br />
                        {{lesson.groupName}}<br />
                        {{lesson.audName}}
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
